.jpt__features-container__feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}


.jpt__features-container__feature-titles{
    flex: 1;
    max-width: 180px;
    margin: 2rem;
}

.jpt__features-container__feature-titles h1{
    color: #fff;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.04em;
    font-weight: 800;
}

.jpt__features-container__feature-titles div{
    width: 38px;
    height: 3px;

    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.25rem;
}

.jpt__features-container__feature_feature-text{
    flex: 2;
    max-width: 390px;
    display: flex;
}

.jpt__features-container__feature_feature-text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width:550px) {
    .jpt__features-container__feature-titles h1{
        font-size: 14px;
        line-height: 22px;
    }
    .jpt__features-container__feature-titles p{
        font-size: 12px;
        line-height: 18px;
    }

    .jpt__features-container__feature{
        margin: 1rem 0;
    }
}


