.jpt__features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.jpt__features-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.jpt__features-heading h1{
    font-family: var(--font-family);
    font-size: 34px;
    line-height: 43px;
}

.jpt__features-heading p{
    font-family: var(--font-family);
    color: #FF8A71;
    font-size: 16px;
    line-height: 30px;

    margin-top: 2rem;

}



.jpt__features-container{
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:990px) {
    .jpt__features{
        flex-direction: column;
    }
    
}

@media screen and (max-width:550px) {
    .jpt__features-heading h1{
        font-size: 25px;
    }
    .jpt__features-heading p{
        font-size: 14px;
    }
    
}