.jpt__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--color-footer);
    margin: 4rem;
    border-radius: 1.5rem;
}
.jpt__footer-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 7rem;   
}
.jpt__footer-heading h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
}

.jpt__footer-btn p{
    box-sizing: border-box;
    font-family: var(--font-family);
    color: white;
    padding: 2rem;
}
.jpt__footer-btn button{
    padding: 1rem;
    color: white;
    background: var(--color-footer);
    border-radius: 0.5rem;
    cursor: pointer;
}


.jpt__footer-links{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.jpt__footer-links_logo{
    height: 30%;
    width: 10%;
    margin-right: 25rem;
}
.jpt__footer-links_logo img{
    height: 80px;
    margin-top: 3rem;
}

.jpt__footer-links_logo p{
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 12px;
}
.jpt__footer-links_text{
    margin: 5rem;
    color: var(--color-text);
    cursor: pointer;
    text-align: left;
}

.jpt__footer-links_text h4{
    font-size: 25px;
    padding-bottom: 2rem;
}

.jpt__footer-links_text p {
    padding: 0.5rem;
    font-size: 14px;
}

.jpt__footer-copyright{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 2rem;
}

@media screen and (max-width:1350px) {

    .jpt__footer{
        margin: 1rem;
    }
    .jpt__footer-heading h1{
        font-size: 12px;
    }
    .jpt__footer-links{
        margin-left: 0;
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
    .jpt__footer-links_text{
        align-items: center;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

    }
    .jpt__footer-links_text h4{
        font-size: 20px;
        padding: 1rem;
    }
    .jpt__footer-links_text p{
        padding: 4px;
        font-size: 14px;
    }
    .jpt__footer-links_logo{
        margin-right: 0rem;
    }
    .jpt__footer-copyright{
        font-size: 10px;
        margin-top: 3rem;
    }
    
}

@media screen and (max-width:850px) {

    .jpt__footer{
        margin: 1rem;
    }
    .jpt__footer-heading h1{
        font-size: 12px;
    }
    .jpt__footer-links{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .jpt__footer-links_text{
        align-items: center;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

    }
    .jpt__footer-links_text h4{
        font-size: 20px;
        padding: 1rem;
    }
    .jpt__footer-links_text p{
        padding: 4px;
        font-size: 14px;
    }
    .jpt__footer-links_logo{
        margin-left: 15rem;
    }
    .jpt__footer-copyright{
        font-size: 10px;
        margin-top: 3rem;
    }
    
}

@media screen and (max-width:550px) {

    .jpt__footer{
        margin: 1rem;
    }
    .jpt__footer-heading h1{
        font-size: 12px;
    }
    .jpt__footer-links{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .jpt__footer-links_text{
        align-items: center;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

    }
    .jpt__footer-links_text h4{
        font-size: 16px;
        padding: 1rem;
    }
    .jpt__footer-links_text p{
        padding: 4px;
        font-size: 10px;
    }
    .jpt__footer-links_logo{
        margin-left: 7rem;
    }
    .jpt__footer-copyright{
        font-size: 10px;
        margin-top: 3rem;
    }
    
}

